RewriteEngine On
RewriteBase /

# Redirect API requests to api folder
RewriteRule ^api/(.*)$ api/$1 [L]

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite all other requests to index.html
RewriteRule ^ index.html [L]
